.detail-container .image{
    max-width: 350px;
    height: auto;
    /* border: 2px solid red; */
}
.wrapper{
    width: 90%;
    margin: 0px auto;
}
.back{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.1);
}
.back a{
    text-decoration: none;

}
.back a span{
    margin-left: 5px;
}

.detail-container{
    display: flex;
}
.detail1{
    flex: 2;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.infort{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.infort .infor1{

    margin-left: 0px;
    flex: 1;
}
.infor2{
    flex: 1;
}

.infor1 p, .infor2 p{
    margin-top: 10px;
}
.infort span{
    
    color: gray;
}
.infort .inf1{
    font-weight: 500;
    color: black;
}
.border{
    margin-top: 20px;
    display: flex;
}
.border span{
    margin-left: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    padding: 5px 30px;
    border-radius: 2px;
    cursor: pointer;
}
@media screen and (max-width:500px) {
    .detail-container, .detail1, .infort{
        display: block;
       
    }
    .detail1, .infort, .infor2{
        display: block;
        margin-top: 30px;
    }
    .detail1{ 
    margin-left: 0px;
    }
    .border{
        flex-direction: column;
    }
    .border span{
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;
}
    .border-container{
        margin-top: 15px;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

}