.card{
    width: 250px;
    height: auto;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.3);
    background-color: hsl(0, 0%, 100%);
   
}
.card img{
    width: 100%;
}
.infor{
    padding-left: 20px;
    margin: 20px 0px 20px 0px;
}
.infor h4{
    margin-bottom: 20px;
}
.infor p{
    margin-bottom: 10px;
}
.inf1{
    font-weight: 500;
}